<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MBXAccessToken</key>
	<string>sk.eyJ1IjoiYXJhaGFydXRvIiwiYSI6ImNscGltMHVlcDAwcW0ycHM2NGUwdTg5dzgifQ.4_9gnEZcz_G3_qAvu7uD4g</string>
</dict>
</plist>
